body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #9c32da;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
}

section {
    padding: 20px;
}

h2 {
    color: #9c32dae6;
    margin-bottom: 15px;
}

article {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
}

article h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

article img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

article p {
    margin: 10px 0;
}

article button {
    background-color: #9c32da;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

article button:hover {
    background-color: #9c32da;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 0.9em;
}